@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: rgb(14, 14, 14);
    color: rgb(254, 254, 254);
    font-family: 'Averia Serif Libre', serif;
    font-size: 1.2rem;
}

a {
    color: rgb(254, 254, 254);
}

@media (min-width: 500px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header header"
            "navigation navigation navigation navigation"
            "main main main main";
    }
}

@media (min-width: 1000px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header header"
            "navigation main main main";
    }
}

.grid-header {
    grid-area: header;
}

.grid-main {
    grid-area: main;
}

.grid-navigation {
    grid-area: navigation;
}