<main class="container">
    <div class="window">
        <div class="buttons">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="content">
            <p>工事中</p>
            <p>Under Construction</p>
        </div>
    </div>
</main>
<style>
    .container {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgb(200, 200, 200);
    }

    .window {
        background-color: rgba(239, 239, 239, 0.945);
        min-width: 600px;
        min-height: 450px;
        max-width: 600px;
        max-height: 450px;
        border-radius: 0.8em;
        margin: 1em auto;
        padding: 1em;
        text-align: center;
    }

    .buttons {
        width: 100%;
        text-align: left;
    }

    .buttons > div {
        border-radius: 1em;
        width: 1em;
        height: 1em;
        display: inline-block;
        margin: 0.3em;
    }

    .buttons > div:nth-child(1) {
        background-color: #ff5f57;
    }

    .buttons > div:nth-child(2) {
        background-color: #febc2e;
    }

    .buttons > div:nth-child(3) {
        background-color: #28c840;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 400px;
        font-size: 3rem;
    }
</style>