--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Aaron Dodd's personal website">
		<meta name="viewport" content="width=device-width" />

		<link rel="manifest" href="/manifest.webmanifest?ver=1">
		<link rel="icon" href="/favicon.ico?ver=1" sizes="32x32">
		<link rel="icon" href="/icon.svg?ver=1" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png?ver=1">

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	body {
		margin: 0;
		padding: 0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
